<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All users page Index</title>
</head>
<body>

<h2>All users, page index.html</h2>

<table>
  <thead>
  <tr>
    <th> id </th>
    <th> username </th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="user : ${users}">
    <td><span th:text="${user.id}"> user </span></td>
    <td><span th:text="${user.username}"> username </span></td>

    <td><a th:href="@{/admin/{id}/edit(id=${user.id})}" >-edit-</a></td>
    <td><a th:href="@{/admin/{id}(id=${user.id})}" >-delete-</a></td>
  </tr>
  </tbody>

</table>

<a href="/admin/new">Create new user</a>
<div>
  <a href="/logout">logout</a>
</div>

</body>
</html>